.container {
    display: flex;
    width: 100%;
    margin-left: 50px;
}

.container-child {
    flex: 1;
}

.container-child.title {
    margin-right: 40%;
    margin-bottom: 0;
}

.container-child.price {
    margin-right: 0;
    float: right;
}

p {
    display:contents;
    color: darkslategray;
    font-weight: bolder;
}

.product-quantity {
    font-weight: 450;
    color: gray;
    text-indent: 20px;
}

/*
TO DO:
X fix item showing up even when qty is 0
X add item counter
X add box
X add discount totals
X add more styles
- add tests and comments
*/